
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: cadetblue;
    margin: 0px;
}

.quiz-name h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-content: center;
}

#timer {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    align-content: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

#container-card {
    display: flexbox;
    flex-flow: wrap;
    align-items: center;
    padding: 89px 89px;
    border-style: dashed;
    border-color: blue;
    border-width: 1.75px;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
    
}

button {
    border-style: solid;
    background-color: cadetblue;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: transparent;
    opacity: .7;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
    margin: 3px;
}

#highScoresPage {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

#highScoresPage p {
    display: flex;
    justify-content: center;
}

.answerButtons {
    display: flex;
    width: 300px;
    padding: 10px;
    background-color: cadetblue;
    color: #ffffff;
    border-color: transparent;
    opacity: .7;

}

p {
    margin-bottom: 30px;
    max-width: 625px;
    line-height: 1.5;
    font-size: 1.1em;
}